
@font-face {
    font-family: 'Lato-Regular';
    src: url('Lato-Regular.ttf') format('truetype');    
    font-style: normal;
}

@font-face {
    font-family: 'Lato-Black';
    src: url('Lato-Black.ttf') format('truetype');    
    font-style: normal;
}
.container {     
    display: flex;
    flex-flow: row wrap; 
  }

  .display {
    margin: 0.5em;
    padding: 1em;
    border: 1px solid darkgray;
    border-radius: 5px;
    flex-grow: 0;     /* do not grow   - initial value: 0 */
    flex-shrink: 0;   /* do not shrink - initial value: 1 */
    flex-basis: 4em; 
}

  .dataNumber {
    font-size: 2em;    
    text-align: center; 
    font-family: 'Lato-Regular ', monospace;
  }

  .identificator {
    text-align: center;
    color: darkgray;
    font-family: 'Lato-Black', monospace;    
  }

  
